<a href="https://colab.research.google.com/github/Aroob-Aziz/python/blob/main/Assignment_01_Aroob.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task 1: Variables and Data Types**

a) Create three variables: one for storing your age (integer), one for your name (string), and one to
check if you are a student (Boolean). Print the variables.
b) Perform the following operations and print the results:
- Add 25 to your age variable.
- Concatenate your name with the string &quot;Smith.&quot;
- Negate the Boolean variable (if True, make it False, and vice versa).

In [ ]:
age = 23
name = "Aroob"
is_student = True

print(age + 25)
print(f'{name} Smith')
print(not is_student)

48
Aroob Smith
False

**Task 2: Expressions and Operators**

a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in variables. Create a new variable called area and write an expression to calculate the area. Print the area in the output.
b) Take temperature input from user in Celsius. Convert it to Fahrenheit using the formula:
F = (C * 9/5) + 32
Store this temperature in a variable called Fahrenheit and print this variable.
c)Take radius of the circle as input from user. Calculate the area of a circle with this radius and store it in a variable called area. Print area at the end of your code.
(Use the formula: area = π * radius^2, where π (pi) is approximately 3.14159).

In [ ]:
# a) finding rectangle area => rectangle area = width * height
width = 5.5
height = 3.25
area = width * height
print("Area of rectangle is: ", area)

# b) converting celsius into farhenheit
celsius = float(input("Enter the temperature in celsius: "))
farhenheit = (celsius * (9/5)) + 32
print("Temperature in farhenheit is: ", farhenheit)

# c) finding circle area
radius = float(input("Enter the radius of the circle: "))
area = 3.14159 * (radius ** 2)
print("Area of the circle is: ", area)
#

Area of rectangle is:  17.875
Enter the temperature in celsius: 37
Temperature in farhenheit is:  98.60000000000001
Enter the radius of the circle: 1
Area of the circle is:  3.14159

**Task 3: List Manipulation**

a) Create a list called "fruits" containing the following fruits: "apple", "banana", "cherry", "date", "strawberry", "fig", and "grape". Print the list.
1. Remove the first and last elements from the "fruits" list. Print the updated list.
2. Replace the second to fourth items with ["kiwi", "lemon", "mango"] using list slicing.
3. Use the len() function to find how many fruits are in the list.

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "strawberry", "fig", "grape"]
print(fruits)

# 1. Remove the first and last elements from the "fruits" list. Print the updated list.
fruits.pop(0)
fruits.pop(-1)
print("Updated list after popping first and last element",fruits)

# 2. Replace the second to fourth items with ["kiwi", "lemon", "mango"]
fruits[1:4] = ["kiwi", "lemon", "mango"]
print("Updated list after replacing second to fourth items", fruits)

# 3. Use the len() function to find how many fruits are in the list
print("The total number of fruits available in the list are: ", len(fruits))

['apple', 'banana', 'cherry', 'date', 'strawberry', 'fig', 'grape']
Updated list after popping first and last element ['banana', 'cherry', 'date', 'strawberry', 'fig']
Updated list after replacing second to fourth items ['banana', 'kiwi', 'lemon', 'mango', 'fig']
The total number of fruits available in the list are:  5

**Task 4: Dictionary Operations**

a) Create a dictionary named "capitals" with three key-value pairs: "USA" - "Washington D.C.," "France" - "Paris," and "Japan" - "Tokyo." Print the dictionary.

b) Add a new country and its capital to the "capitals" dictionary. The country is "Germany," and the capital is "Berlin." Print the updated dictionary.

c) Check if "France" exists in the "capitals" dictionary. If it does, print "France is in the dictionary," otherwise, print "France is not in the dictionary."

In [ ]:
# a
country_capital = {"USA" : "Washington D.C.", "France" : "Paris", "Japan" : "Tokyo"}
print(country_capital)

#b
country_capital["Germay"] = "Berlin"
print("Dictionary after adding country Germany along with its capital Berlin is:", country_capital)

#c
if "France" in country_capital:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

# alternate of c (using get method)
if country_capital.get("France"):
   print("France is in the dictionary")
else:
  print("France is not in the dictionary")

{'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo'}
Dictionary after adding country Germany along with its capital Berlin is: {'USA': 'Washington D.C.', 'France': 'Paris', 'Japan': 'Tokyo', 'Germay': 'Berlin'}
France is in the dictionary
France is in the dictionary

**Task 5: Comparison Operators, Logical Operators and If/Else:**

a) Create a variable called number that takes user input. Write a block of code that checks if the number is positive or negative. If the number is positive only then further check if it is even or odd. Your output should print “The number is even”, or the “The number is odd”.

b) Create two variables called age and GPA. Give them values of your choice. Next, write a block of code to check if a student with this age and GPA is eligible for admission. The following are the conditions:
   - The student must be at least 18 years old.
   - The student's GPA must be 3.0 or higher on a scale of 4.0.
   Your output should print “Eligible for admission” or “Not eligible for admission”.

In [ ]:
# a
number = int(input("Enter a number: "))
if number > 0:
  if number % 2 == 0:
    print("The number is even")
  else:
    print("The number is odd")
else:
  print("The number is negative, please enter positive number")

#b
age = 23
gpa = 3.8
if age >=18 and (gpa >= 3.0 and gpa <= 4.0):
  print("Eligible for admission")
else:
  print("Not eligible for admission")

Enter a number: 4
The number is even
Eligible for admission

**Task 6: Strings Manipulation**

a) Create a string variable containing the following sentence:
   "Python programming is fun and powerful!"
   Write Python code to do the following and print the results:
   1. Find the length of the string.
   2. Convert the string to uppercase.
   3. Replace "fun" with "exciting."
   4. Check if the string contains the word "Python."
   5. Extract the last word "powerful!"
   6. Remove the word programming from the sentence and print the rest of the sentence.

b) Given the string email = "user@example.com", perform the following:

1. Extract the username part (everything before the "@" symbol).
2. Extract the domain part (everything after the "@" symbol).
3. Check if the email contains the substring "example".

In [ ]:
str = "Python programming is fun and powerful"
#1
print("Length if the string is: ",len(str))
#2
print("String in uppercase is: ",str.upper())
#3
str_list = str.split()
str_list[3] = "exciting"
result = ' '.join(str_list)
print("Modified string is: ",result)
#4
contains_python = "Python" in str
print("Does word Python is included in the string: ",contains_python)
#5
last_word = str.split()[-1]
print("The last word of the string is: ", last_word)
#6
remove_item = str.replace("programming","")
print("String after removing programming is: ", remove_item)

#b
email = "user@example.com"
#1
username = email[0:email.index("@")]
print("Username is: ",username)

#alternate
username_alt = email.split("@")[0]
print("Username is: ",username_alt)

#2
domain = email[email.index("@")+1:]
print("Domain is: ",domain)

#alternate
domain_alt = email.split("@")[1]
print("Domain is: ",domain_alt)

#3
contains_example = "example" in domain
print("Does domain contains example: ",contains_example)

Length if the string is:  38
String in uppercase is:  PYTHON PROGRAMMING IS FUN AND POWERFUL
Modified string is:  Python programming is exciting and powerful
Does word Python is included in the string:  True
The last word of the string is:  powerful
String after removing programming is:  Python  is fun and powerful
Username is:  user
Username is:  user
Domain is:  example.com
Domain is:  example.com
Does domain contains example:  True

**Task 7: For Loops and While Loops**

a) Given a list of temperatures for a week, write a program that tells you how many days were above 25°C.  
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
1. for temp > 25, print “Today's temp:  temp, its hot!”
2. for temp <= 25, print “Today's temp:  temp, it is chilly today!”

In [ ]:
temp_list = [26, 28, 32, 36, 30, 25, 24, 22, 20, 18]
count = 0
for temp in temp_list:
  if temp > 25:
    print(f"Today's temp: {temp}, its hot!")
    count += 1
  else:
    print(f"Today's temp: {temp}, it is chilly today!")
print("The total number of days when temp goes above 25 is: ",count)

Today's temp: 26, its hot!
Today's temp: 28, its hot!
Today's temp: 32, its hot!
Today's temp: 36, its hot!
Today's temp: 30, its hot!
Today's temp: 25, it is chilly today!
Today's temp: 24, it is chilly today!
Today's temp: 22, it is chilly today!
Today's temp: 20, it is chilly today!
Today's temp: 18, it is chilly today!
The total number of days when temp goes above 25 is:  5

b) Use a for loop and the range() function to display following sequences:
1. Add to list: [-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
2. Add to list: [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
3. Print: Multiples of 7 starting from 5 and less than 100.
4. Print: The first 20 Fibonacci numbers.

In [ ]:
#1
first_sequence = []
for i in range(-20,29,3):
  first_sequence.append(i)
print("The first sequence is: ", first_sequence)


#2
second_sequence = []
for i in range(110, 129, 2):
  second_sequence.append(i)
print("The second sequence is: ", second_sequence)

#3
multiples = []
for i in range(7,100,7):
  multiples.append(i)
print("The multiples of 7 are: ",multiples)

#4
# fibbonacci => 0, 1, 1 , 2, 3, 5...
a,b = 0, 1

for i in range(20):
  print(a, end=" ")
  a, b = b, a+b

The first sequence is:  [-20, -17, -14, -11, -8, -5, -2, 1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
The second sequence is:  [110, 112, 114, 116, 118, 120, 122, 124, 126, 128]
The multiples of 7 are:  [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

c) Use nested loops to display the following pattern.

In [ ]:
for i in range(1, 7):  # 6 rows
    # Inner loop for the number of stars in each row
    for j in range(i):  # j runs from 0 to i-1
        print("*", end="")  # Print star without a newline
    print()

*
**
***
****
*****
******

d) Write a nested loop through the given list to find pair of numbers that sum to a given value.

numbers = [6, 8, 2, 4, 6, 10]
target_sum = 12

Save and print the pairs in tuples.

In [ ]:
numbers = [6, 8, 2, 4, 6, 10]
target_sum = 12
pairs = []
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] + numbers[j] == target_sum:
            pairs.append((numbers[i], numbers[j]))


print("Pairs that sum to", target_sum, ":", pairs)

Pairs that sum to 12 : [(6, 6), (8, 4), (2, 10)]

e) A student obtains the following grades in his courses. Make a list of his scores and write a loop to sum up his total score. Also, calculate his percentage.

Courses                 Scores out of 100
Mathematics                    78
Programming                   82
Biology                               65
Physics                               80
Chemistry                          50

Next, use python dictionary to assign grades to the student according to the following table:

Percentage   Grade
90-100                 A
80-89                   B+
60-79                   B
40-59                   C
39 and below     F

In [ ]:
# Step 1: Define course scores
courses = {
    "Mathematics": 78,
    "Programming": 82,
    "Biology": 65,
    "Physics": 80,
    "Chemistry": 50,
}

# Step 2: Calculate total score
total_score = sum(courses.values())  # Sum up all the scores
total_subjects = len(courses)  # Count the number of courses
max_total = total_subjects * 100  # Maximum possible total score
percentage = (total_score / max_total) * 100  # Calculate percentage

# Step 3: Assign grade based on percentage
if 90 <= percentage <= 100:
    grade = "A"
elif 80 <= percentage < 90:
    grade = "B+"
elif 60 <= percentage < 80:
    grade = "B"
elif 40 <= percentage < 60:
    grade = "C"
else:
    grade = "F"

# Step 4: Print results
print("Total Score:", total_score)
print("Percentage:", f"{percentage:.2f}%")
print("Grade:", grade)

Total Score: 355
Percentage: 71.00%
Grade: B

**Task 8: Functions:**

a) Write a function called calculate_area that takes the length and width of a rectangle and returns its area.

b) Write a Python function to find the max of three numbers entered by the user.

c) Create a basic calculator program that can perform addition, subtraction, multiplication, and division operations. Ask the user to input 2 numbers and the operation they want to perform. Print result accordingly.

In [ ]:
#a
def calculate_area(length, width):
    return length * width

length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))
print(f"The area of the rectangle is: {calculate_area(length, width)}")

Enter the length of the rectangle: 2
Enter the width of the rectangle: 2
The area of the rectangle is: 4.0

In [ ]:
#b
def find_max_of_three(a, b, c):
    return max(a, b, c)

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
print(f"The maximum of the three numbers is: {find_max_of_three(num1, num2, num3)}")

Enter the first number: 1
Enter the second number: 2
Enter the third number: 3
The maximum of the three numbers is: 3.0

In [ ]:
#c
def calculator(num1, num2, operation):
    if operation == '+':
        return num1 + num2
    elif operation == '-':
        return num1 - num2
    elif operation == '*':
        return num1 * num2
    elif operation == '/':
        if num2 != 0:
            return num1 / num2
        else:
            return "Error: Division by zero is not allowed."
    else:
        return "Invalid operation!"

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Enter the operation (+, -, *, /): ")

result = calculator(num1, num2, operation)
print(f"The result of the operation is: {result}")

Enter the first number: 1
Enter the second number: 2
Enter the operation (+, -, *, /): +
The result of the operation is: 3.0